@charset "UTF-8";
.carousel-item {
  height: 80vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    display: table-cell;
    width: 50%;

	height: 75vh;
}

.row{
	height: 100%;
}

.login-form-1{
    padding: 5%;
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); */
    width: 50%;
}
.login-form-1 h2{
    text-align: center;
    color: #333;
    margin-bottom: 2%;
}
.login-form-2{
    padding: 5%;
   /*  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); */
    width: 50%;
 	background: #A3D7DD;
 	background: linear-gradient(to left, #229DA8, #A3D7DD);
 	
}
.login-form-2 h2{
    text-align: center;
    color: #fff;
    margin-bottom: 2%;
}
.login-container form{
    padding: 10%;
}
.btnSubmit{
    border-radius: 1rem;
    padding: 1%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    width: 50%;
    font-weight: 600;
    color: #fff;
    background-color: #229DA8;
    display: block;
    margin: 0 auto;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #229DA8;
    background-color: #fff;

    display: inline-block;
	width: 49%;
}

.login-form h5{
	margin-bottom: 5%;
}
.login-form p{
	margin-bottom: 5%;
}

.login-form-1 h5,
.login-form-1 p{
	text-align: center;
}
.login-form-2 h5,
.login-form-2 p{
	color: #fff;
	text-align: center;
}

#img1{
	width: 230px;
	height: 230px;
	display: block; 
	margin: 4rem auto;
	margin-bottom: 1.5rem;
}

#img2{
	height: 230px;
	display: block; 
	margin: 4rem auto;
	margin-bottom: 1.5rem;
}


/* footer */
.footer-bottom {
    padding: 40px 0 30px;
    background: #f8f9fa;
    margin-bottom: 0;
}
.copyright-text p {
    color: #7d7d7d;
    margin-top: 9px;
    margin-bottom: 0;
    text-align: center;
    bottom: 0;
}
.copyright-text img {
	display: block;
	margin: 0 auto;
	margin-top: 1%;
}

