@charset "UTF-8";

   header {
      background: #F2F2F2;
   }

   .paginated-list-footer {
      background: #F2F2F2;
   }
     
   /* 위는 구분을 위한 색[임시]  */
   
   .div0{
      width: 50%;
      height: 100%;
      position: absolute;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 25%;
   }
   
   a, a:hover, a:focus {
	    text-decoration: none;
	    outline: none;
	}
    
   body {
       /* line-height: 1.5; */
       color: #797979;
      background: #f2f2f2;
       font-family: 'Ruda', sans-serif;
       padding: 0px !important;
       margin: 0px !important;
       font-size: 13px;
       font-family: "나눔스퀘어라운드 Regular";
   }
   
   h2 {
       font-family: inherit;
       font-size: 18px;
       margin: 0;
       display: block;
       margin-block-start: 0.83em;
       margin-block-end: 0.83em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       margin-top: 20px;
       margin-bottom: 10px;
       
    }
    
    h4 {
    	font-size: 18px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    line-height: 1.1;

	}
    
    
/*     div {
       margin: 0;
       padding: 0;
       display: block;
    } */
    
   .bookmarks-page .bookmarks-page__header {
      display: block;
      height: 100px;
      min-height: 30px;
       margin-bottom: 12px;
       position: relative;
    }
   
   .page-header .page-header__title {
       font-weight: 200;
       font-size: 24px;
       line-height: 32px;
       color: #333;
       margin: 0;
    }
    
   .page-header .page-header__title .page-header__total-count:last-child {
       padding-left: 7px;
    }
    
   .page-header .page-header__info {
       position: relative;
       margin: 10px 0 20px;
       padding-top: 15px;
       border-top: 2px solid #6c6c6c;
       font-size: 14px;
       line-height: 1.2;
       color: #777;
    }
    
   .page__options {
       float: left;
    }
    
    .page-header .page-header__info .Select {
       float: left;
       margin-right: 10px;
   }
   
   .Select.Select--default {
       min-width: 106px;
   }
   
   .Select {
       display: inline-block;
       vertical-align: top;
       width: auto;
   }
   
   .Select {
       position: relative;
   }
   
   .Select, .Select div, .Select input, .Select span {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
   }
   
   .Select.Select--default .Select-control .Select-value, .Select.Select--default .Select-control .Select-placeholder {
       height: 32px;
       margin-right: 17px;
       line-height: 33px;
       color: #565556;
   }
   
   .Select .Select-control .Select-value, .Select .Select-control .Select-placeholder {
       position: relative;
       z-index: 1;
       margin-right: 25px;
       cursor: pointer;
   }
   
   .Select-placeholder, .Select--single > .Select-control .Select-value {
       bottom: 0;
       color: #aaa;
       left: 0;
       line-height: 34px;
       padding-left: 10px;
       padding-right: 10px;
       position: absolute;
       right: 0;
       top: 0;
       max-width: 100%;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
   }
   
   
/*    element.style {
       border: 0px;
       width: 1px;
       display: inline-block;
   } */

   fieldset {
       border: 0 none;
   }
   
   .screen-out {
       overflow: hidden;
       position: absolute;
       width: 0;
       height: 0;
       line-height: 0;
       text-indent: -9999px;
   }
   
   legend {
       display: block;
       padding-inline-start: 2px;
       padding-inline-end: 2px;
       border-width: initial;
       border-style: none;
       border-color: initial;
       border-image: initial;
       margin: 0;
       padding: 0;
       
   }
   
   .search-field .search-field__input {
       width: 191px;
       height: 32px;
       padding: 6px 37px 7px 11px;
       border: 1px solid #e3e3e4;
       border-radius: 32px;
       font-size: 13px;
       line-height: 17px;
       background-color: #fff;
       outline: none;
       
       vertical-align: middle;
      margin: 0;
      -webkit-writing-mode: horizontal-tb !important;
       text-rendering: auto;
       letter-spacing: normal;
       word-spacing: normal;
       text-transform: none;
       text-indent: 0px;
       text-shadow: none;
       display: inline-block;
       text-align: start;
       -webkit-appearance: textfield;
       -webkit-rtl-ordering: logical;
       cursor: text;
       font: 400 13.3333px Arial;
       
   }
   
   .search-field .search-field__search-button {
       overflow: hidden;
       position: absolute;
       top: 0;
       right: 0;
       width: 37px;
       height: 32px;
       border: 1px solid lightgray;
       background-color: #fff;
       border-radius: 32px;
       padding: 0;
       
       
       border: 0 none;
       border-radius: 0;
       background-color: transparent;
       cursor: pointer;
       outline: none;
       margin: 0;
       font-family: inherit;
       font-size: inherit;
       line-height: inherit;
       
   }
   
   .bookmarks-page .bookmarks-page__search {
       position: absolute;
       top: 16px;
       right: 0;
   }
   
   .wall__wall-thread {
       margin-bottom: 15px;
       border: 1px solid #dcdfe4;
       border-radius: 3px;
       background-color: #fff;
       -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
       box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
       outline: none;
   }   
   

/*    option {
      text-align: center;
      outline: none;
   } */
   
   
   .scroll-container.scroll-container--window {
       overflow: visible;
   }
   
   .scroll-container {
       overflow-x: visible;
       overflow-y: auto;
       outline: none;
   }
   
   .scroll-container::-webkit-scrollbar {
       width: 7px;
       background-color: transparent;
   }
   
   
   .paginated-list-footer {
       position: relative;
       width: 100%;
       color: #313131;
       text-align: center;
       clear: both;
       /* border: 1px solid lightgray; */
   }
      
   .paginated-list-footer > div {
       padding: 40px 0 80px;
   }
   
   .paginated-list-footer .paginated-list-footer__no-more-label span {
       display: inline-block;
       position: relative;
   }
   
   .paginated-list-footer .paginated-list-footer__no-more-label {
       text-align: center;
      background : #F2F2F2;
   } 
   
   .paginated-list-footer .paginated-list-footer__no-more-label span:before, .paginated-list-footer .paginated-list-footer__no-more-label span:after {
       display: block;
       position: absolute;
       top: 10px;
       width: 211px;
       height: 5px;
       border-top: 1px solid #d9d9d9;
       content: "";
   }
   
   .paginated-list-footer .paginated-list-footer__no-more-label span:before {
       right: 100%;
       margin-right: 15px;
   }
   
   .paginated-list-footer .paginated-list-footer__no-more-label span:after {
       left: 100%;
       margin-left: 15px;
   }
      

   
   /* 구분  */
   /* 멘션 */
   
   .page__options {
       float: left;
   }
   
   .page__options .option-button1,.option-button2,.option-button3,.option-button4 {
       float: left;
       margin-right: 10px;
   }
   
   .option-button1,.option-button2,.option-button3,.option-button4 {
       border-color: #525f78;
       background: #525f78;
       color: #fff;
   }
   
   .option-button1,.option-button2,.option-button3,.option-button4 {
       display: inline-block;
       min-width: 80px;
       height: 34px;
       padding: 10px 14px 9px;
       border: 1px solid #ddd;
       border-radius: 3px;
       background: #fff;
       line-height: 1;
       color: #565556;
       text-align: center;
       letter-spacing: -0.025em;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       text-decoration: none;
   }
   
   .option-button1:focus,.option-button2:focus,.option-button3:focus,.option-button4:focus {
      outline: none;
      background: #3C5087;
      color: white;
   }
   
   
   .planet-group-list__item .planet-group-list__item-title {
       overflow: hidden;
       margin-bottom: 7px;
       font-size: 17px;
       line-height: 20px;
       color: #181a1c;
       white-space: nowrap;
       text-overflow: ellipsis;
   }
   
   .planet-group-list__item .planet-group-list__item-actions {
       font-size: 14px;
       line-height: 30px;
   }
   
   .follow-button.unfollowed {
      border: 1px solid #497BD8;
       color: #497BD8;
       outline: 0;
   }
   
   .follow-button.unfollowed.active {
       background-color: #497BD8;
       color: #fff;
       outline: 0;
   }
   
   
   .follow-button {
       display: inline-block;
       padding: 7px 13px 6px;
       border-radius: 100px;
       border: 1px solid #fff;
       font-weight: 500;
       font-family: "나눔스퀘어라운드 Regular";
       font-size: 13px;
       line-height: 15px;
       color: #fafbfc;
       vertical-align: top;
   }
   
   .pull-right {
       float: right;
   }
   
   
   .groups__planet-groups-list {
       margin-left: -1.5%;
   }
   
   .planet-group-list__item {
       float: left;
       width: 48.5%;
       padding: 17px 20px 14px;
       margin-bottom: 10px;
       margin-left: 1.5%;
       color: #878787;
       border: 1px solid #dcdfe4;
       border-radius: 3px;
       background-color: #fff;
       box-sizing: border-box;
   }
   
   .planet-group-list__item .planet-group-list__item-description {
       display: block;
       display: -webkit-box;
       overflow: hidden;
       word-break: break-all;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 2;
       height: 32px;
       margin-bottom: 5px;
       line-height: 16px;
   }
   
   #groupbutton {
       cursor: pointer;
       outline: none;
       margin: 0;
       -webkit-appearance: button;
       -webkit-writing-mode: horizontal-tb !important;
       text-rendering: auto;
       letter-spacing: normal;
       word-spacing: normal;
       text-transform: none;
       text-indent: 0px;
       text-shadow: none;
       text-align: center;
       align-items: flex-start;
       box-sizing: border-box;
       font: 400 13.3333px Arial;
   }
   
   
   .no-content-placeholder .no-content-placeholder__message {
      
       padding-top: 26px;
       font-size: 20px;
       color: #ccc;
       
       margin-top: 0;
       margin-bottom: 1rem;
       display: block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
   }
   

   .no-content-placeholder {
       width: 100%;
       height: 500px;
       background: #fff;
       text-align: center;
       box-sizing: border-box;
       padding: 140px 0 80px;
       padding-top: 140px;
   }
   
   
   .paginated-list-footer .no-content-placeholder {
       padding-top: 140px;
   }
      
   